@import "bloben-common/globals/theme.scss";

.landing__wrapper {
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  @media (max-width: 750px) {
    height: 100%;
    background-color: $SURFACE_LIGHT;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 100vh;
    animation-name: show-page;
    animation-duration: 0.4s;
    width: auto;
  }
}

.landing__main {
  min-height: 100vh;
}

.landing__header-navbar {
  background-color: $SURFACE_LIGHT;
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 56px;
  padding: 0 48px 0 48px;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  z-index: 99;
  @media (max-width: 750px) {
    padding: 0 24px 0 24px;
  }
}
.landing__header-navbar-border {
  @extend .landing__header-navbar;
  border-bottom: solid 0.5px $GRAY_300;
}

.landing__one-screen {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  max-width: 1000px;
  margin: 0 auto;
  @media (max-width: 750px) {
    padding: 0 24px 0 24px;
    width: auto;
  }
}

.landing__free-layout {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100vw;
  overflow: hidden;
  max-width: 1000px;
  margin: 0 auto;
  @media (max-width: 750px) {
    padding: 0 24px 0 24px;
    width: auto;
  }
}


.landing__subtitle-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  max-width: 1400px;
  padding-top: 90px;
  min-height: 90px;
  @media (max-width: 750px) {
    padding-top: 90px;
    min-height: 45px;
  }
}


.landing__subtitle-text {
  font-size: 4rem;
  color: $GRAY_900;
  font-weight: 800;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
  //text-shadow: black 0px 0px 10px;
  @media (min-width: 750px) {
    font-size: 6rem;
    padding-left: 48px;
  }
}
.landing__body-main-text {
  font-size: 9rem;
  color: $GRAY_900;
  font-weight: 800;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
  @media (max-width: 750px) {
    font-size: 5rem;
  }
}
.landing__body-sub-main-text {
  font-size: 3rem;
  color: $GRAY_800;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
  //text-shadow: black 0px 0px 10px;
}
.landing__subtitle-description {
  font-size: 1.8rem;
  color: $GRAY_800;
  font-weight: 500;
  margin: 0;
  padding: 0;
  @media (min-width: 750px) {
    padding-left: 58px;
    padding-bottom: 20px;
  }
}

.landing__container {
  display: flex;
  max-width: 600px;
  //max-height  : 70%;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  //width: 100%;
  margin: 0 auto;
  height: 100%;
  @media (max-width: 750px) {
    padding: 0px;
    height: 100%;
    margin-top: 0;
    display: flex;
    justify-content: flex-start;
    position: relative;
  }
}
.landing__container-center {
  @extend .landing__container;
  @media (min-width: 750px) {
    justify-content: center;
    align-items: center;
  }
}
.landing__container-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  @media (max-width: 750px) {
    position: relative;
    justify-content: center;
    flex-direction: column;
  }
}
.landing__container-row-part {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  @media (max-width: 750px) {
    width: 100%;
    padding-top: 48px;
  }
}

.landing__container-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  @media (min-width: 750px) {
    //width: 260px;
    justify-content: center;
    margin-bottom: 80px;
    background: $SURFACE_LIGHT;
    padding: 64px;
    border-radius: 14px;
    max-width: 500px;
  }
  @media (max-width: 750px) {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
  }
}
.landing__form-title {
  color: $text;
  font-size: 3.4rem;
  font-weight: 600;
  margin: 0px 16px 16px 8px;
  @media (max-width: 750px) {
    font-size: 2.8rem;
    margin: 16px 16px 16px 8px;
  }
}


@keyframes show-page {
  0% {
    left: 100%;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;

  }
}

.landing__image-logo {
  width: 3rem;
  height: 3rem;
  margin-right: 8px;
  fill: $text !important;
  @media (max-width: 750px) {
    fill: $text !important;
  }
}

.landing__title {
  color: $text;
  font-size: 3.2rem;
  font-weight: 700;
  margin: 0;
  @media (max-width: 750px) {
    color: $text;
    font-size: 2rem;
  }
}


.landing__footer-container {
  width: 100%;
  min-height: 90px;
  height: auto;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $SURFACE_DARK;
  padding: 24px 0 24px 0;
}

.landing__footer-text {
  color: $GRAY_200;
  font-size: 1.4rem;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  text-decoration-line: none;
}

.landing__separator {
  height: 24px;
}

.landing__container--button {
  width: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0px;
  left: 0;
  left: 24px;
  right: 24px;
  height: 25%;
}

.landing__button-primary {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  font-size: 1.4rem !important;
  width: 100%;
  color: $primaryText !important;
  background-color: $PRIMARY_LIGHT !important;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: none;
  border-radius: 8px !important;
  font-family: Poppins !important;
}

.landing__button-primary-dark {
  @extend .landing__button-primary;
  background-color: $PRIMARY_DARK !important;
  color: $GRAY_900 !important;
}

.landing__button-demo {
  @extend .landing__button-primary;
  background-color: #303f9f !important;
  color: $primaryText !important;
  border-radius: 28px !important;
  width: auto;

  padding: 14px !important;
}

.landing__button-secondary {
  @extend .landing__button-primary;
  color: $text;
  border-radius: 8px !important;
  border-color: $primary !important;
  border-width: 1.5px !important;
  background-color: $GRAY_900 !important;

}


.landing__image-wrapper {
  display: flex;
  flex-grow: 1;
  width: auto;
}

.landing__image {
  max-height: 35%;
}
.landing__info-box {
  display: flex;
  padding: 16px;
  background: $PRIMARY_LIGHT_OVERLAY;
  border-radius: 8px;
}
.landing__info-box-text {
  color: $text;
  font-size: 1.2rem;
}

.-keyboard-padding {
  padding-bottom: 200px !important;
}

// Navbar

.landing__navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: auto;
  margin: 0 auto;
}

.landing__navbar-container-end {
  display: flex;
  flex-direction: row;
  width: auto;
  @media (min-width: 750px) {
    margin-left: 24px;
  }
  @media (min-width: 900px) {
  margin-left: 48px;
}
  @media (min-width: 900px) {
    margin-left: 64px;
  }
}

.landing__navbar-link{
  width: auto;
  padding: 8px;
  cursor: pointer;
}

.landing__navbar-text {
 color: $text;
  font-size: 2rem;
}
.landing__navbar-text-active {
  @extend .landing__navbar-text;
  @media (min-width: 750px) {
    -webkit-box-shadow:0px 2px 0px $GRAY_800;
    -moz-box-shadow:0px 2px 0px $GRAY_800;
    box-shadow:0px 2px 0px $GRAY_800;
  }
  @media (max-width: 750px) {
    font-weight: bold;
  }
}

.landing__text {
  color: $text;
  margin: 16px 0 16px 0;
  font-size: 1.4rem;
}
// Body text
.landing__body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.landing__body-text {
  color: $text;
  padding: 16px 0 0 54px;
  font-size: 1.6rem;
  @media (max-width: 750px) {
    padding: 16px 0 0 0px;
  }
}

.button-base {
  font-size: 1.6rem !important;
  font-family: Poppins, serif !important;
  border-radius: 14px !important;
  padding: 8px 16px 8px 16px !important;
  font-weight: 500 !important;
}

.button__login {
  @extend .button-base;
  background: $GRAY_300 !important;
  color: $text !important;
  margin-right: 16px !important;
}
.button__login-wide {
  @extend .button__login;
  width: 100%;
}
.button__register {
  @extend .button-base;
  background: $GRAY_800 !important;
  color: $GRAY_100 !important;
  margin-right: 16px !important;
}
.button__register-wide {
  @extend .button__register;
  width: 100%;
}
.button__demo {
  @extend .button-base;
  font-size: 2rem !important;
  background: $PRIMARY_LIGHT !important;
  color: $GRAY_100 !important;
  border-radius: 18px !important;
  padding: 10px 18px 10px 18px !important;
}
.button__disabled {
  @extend .button__demo;
  background: #1b1b1b !important ;
}


//FOOTER EXTENDED
.footer-row {
  width: 100%;
  display: flex;
  padding: 32px 0 24px 0;
  background: #121212;
  font-size: 18px;
  color: rgba(255,255,255, 0.87) !important;
  font-family: 'Open Sans', sans-serif;
}
.footer-social {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  bottom: 10px;
  font-size: 18px;
  color: rgba(255,255,255, 0.87) !important;
  font-family: 'Open Sans', sans-serif;
}
.social-circle {
  width: 40px;
  height: 40px;
  border: solid 1px rgba(255,255,255, 0.87);
  border-radius: 20px;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.social-circle-twitter {
  width: 40px;
  height: 40px;
  border: solid 1px #1da1f2;
  background-color: #1da1f2;
  border-radius: 20px;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.social-circle-reddit {
  width: 40px;
  height: 40px;
  border: solid 1px #ff4301;
  background-color: #ff4301;
  border-radius: 20px;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.social-circle-instagram {
  width: 40px;
  height: 40px;
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  border-radius: 20px;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.social-circle-github {
  width: 40px;
  height: 40px;
  border: solid 1px #24292e;
  background-color: #24292e;
  border-radius: 20px;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.social-circle:hover {
  filter: invert(55%) sepia(38%) saturate(7202%) hue-rotate(191deg) brightness(101%) contrast(101%);

}
.icon-social {
  filter: invert(89%) sepia(7%) saturate(482%) hue-rotate(79deg) brightness(111%) contrast(109%);
}
.icon-social-github {
  filter: invert(89%) sepia(7%) saturate(482%) hue-rotate(79deg) brightness(111%) contrast(109%);

}
.icon-social:hover {
  cursor: pointer;
}
