@import "bloben-common/globals/theme.scss";

.loading-screen__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  flex-direction: column;
  background: $SURFACE_LIGHT;
}

.loading-screen__wrapper-dark {
  @extend .loading-screen__wrapper;
  background-color: $SURFACE_DARK;
}
.loading-screen__container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.loading-screen__spinner {
  color: $PRIMARY_LIGHT;
}

.loading-screen__spinner-dark {
  @extend .loading-screen__spinner;
  color: $PRIMARY_DARK;
}

.loading-screen__text {
  font-size: 2rem;
  color: $text;
  margin: 24px;
}

.loading-screen__text-dark {
  @extend .loading-screen__text;
  color: $textDark;
}
